/* ================
    Common Styles  
===================*/
body{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fixed-width{
    width: 1164px;
}
img {
    max-width: 100%;
}
.flex {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.grid {
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.button {
    color: #fff;
    background: #E02C6D;
    padding: 10px 24px;
}
.button:hover {
    background: #fff;
    color: #E02C6D;
    transition: all .5s ease-in;
    cursor: pointer;
}
a{
    text-decoration: none;
}
/* ================
    Header Area  
===================*/
#hero{
    background: #2D25A0;
    padding-top: 52px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.menu {
    display: flex;
    padding: 0;
}
.list-item {
    list-style-type: none;
}
li.list-item a {
    color: #fff;
    text-decoration: none;
    padding-right: 36px;
}
li.list-item:first-child{
    
    padding-right: 0px;
}
.login {
    text-decoration: none;
}
.login i {
    margin-right: 8px;
}
.fa-bars{
    color: #fff;
    display: none;
    font-size: 20px;
}
.banner {
    padding-bottom: 30px;
}
.banner-text {
    padding-right: 92px;
}
.title {
    font-size: 64px;
    color: #fff;
}
.fa-arrow-right {
    margin-left: 8px;
}

.banner-area img{
     width: 600px;
     padding-top: 68px;

}


/* ================
    Blog Area  
===================*/
#blog-section{
    margin-bottom: 100px;
}
.blogs {
    margin-top: 70px;
}
.blog-text {
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   padding: 15px;
}
.thumbnail {
    width: 100%;
    margin-bottom: 0;
}
.blog-title {
    color: #18191F;
    font-size: 28px;
     padding: 16px 15px;
     margin: 0;
     font-weight: bold;
}
.blog-description {
    padding: 0 15px;
    color: #6C6C6C;
    margin: 0;
    margin-bottom: 33px;
}

/*== News section css== */
.p-color {
    color: rgb(12, 12, 143);
}

.p-bg {
    background: rgb(12, 12, 143);
}

.hrv-p-color:hover {
    color: rgb(12, 12, 143);
}

.mute {
    color: #6e7882;
}

.news-title {
    display: flex;
    position: relative;

}

.news-title:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(12, 12, 143);
}

.news-title h1 {
    text-align: left;
    display: inline-block;
    font-size: 41px;
    font-weight: 400;
    background: white;
    padding: 4px 0px;
    box-sizing: content-box;
    z-index: 1;
}


.news-content .item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-content .item .news-box {
    width: 32%;
    margin: 10px 0px;
}


.news-content .item .news-box .img img {
    filter: brightness(95%);
}

.news-content .item .news-box .img img:hover {
    filter: brightness(120%);
}


.news-content .item .news-box .news-box-content h1 {
    transition: .4s;
    cursor: pointer;
}

.news-content .item .news-box .news-box-content p {
    font-size: 12px;
}

.hrv-p-color:hover {
    color: rgb(12, 12, 143);
}

/*==News Responsive css== */
@media all and (max-width:768px) {
    .m-w-100 {
        width: 100% !important;
    }

    .news-content .item {
        flex-wrap: wrap;
    }

    .m-w-50 {
        width: 49% !important;
    }
}

@media all and (max-width:576px) {
    .s-m-w {
        width: 100% !important;
    }
}


/*== gellary section css== */

.galery-title {
    position: relative;
}
.galery-title h2 {
    font-size: 35px;
    padding: 25px 0;
    font-weight: 400;
}

.galery-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(12, 12, 143);
}

.gallery-section {
    margin-top: 50px;
}

.gallery-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    width: 32%;
}
footer{
    text-align: center;
    margin-top: 100px;
}
.footer-logo img {
    width: 400px;
}
footer i.fa-brands {
    background: #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
}
